.property {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid grey
}

.propertyMoreThan12 {
    background-color: yellow;
}

.propertyLessThan12 {
    background-color: orange;
}

.propertyPast {
    background-color: red;
}

.propertyDone {
    background-color: green;
}