<h1>Список на задачи</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="addTask()" />
<div *ngIf="editedTask">
    <div class="form-group">
        <input placeholder="Name" type="text" [(ngModel)]="editedTask.name" class="form-control" />
    </div>
    <div class="form-group">
        <input placeholder="Description" type="text" [(ngModel)]="editedTask.description" class="form-control" />
    </div>
    <div class="form-group">
        <input type="number" [(ngModel)]="editedTask.dueIn" class="form-control" />
    </div>
    <input type="button" value="Запази" (click)="saveTask()" class="btn btn-success" />
    <input type="button" value="Отмяна" (click)="cancel()" class="btn btn-warning" />
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>DueIn</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks" app-task [task]="task" (onDelete)="onDelete($event)">
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
    
    
<!--шаблон за четене-->
<ng-template #readOnlyTemplate let-task>
    <app-task [task]="task"></app-task>
</ng-template>
   
<!--шаблон за редактиране-->
<ng-template #editTemplate>
    <td>
        <input type="number" [(ngModel)]="editedTask.id" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedTask.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedTask.description" class="form-control" />
    </td>
    <td>
      <input type="number" [(ngModel)]="editedTask.dueIn" class="form-control" />
  </td>
    <td>
        <input type="button" value="Запази" (click)="saveTask()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Отмяна" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>