<div class="container">
  <div class="text-center">
    <h1>TASKS LIST</h1>
    <br />
    <input
      type="button"
      class="btn btn-success btn-lg"
      value="Create new Task"
      (click)="addTask()"
    />
    <br/>
    <br/>
    <div *ngIf="editedTask" class="col-sm-4">
      <br>
      <div class="form-group">
        <input
          placeholder="Name"
          type="text"
          maxlength="100"
          [(ngModel)]="editedTask.name"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <input
          placeholder="Description"
          type="text"
          maxlength="500"
          [(ngModel)]="editedTask.description"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <input
          type="number"
          [(ngModel)]="editedTask.dueIn"
          class="form-control"
        />
      </div>
      <div class="btn-group">
        <input
          type="button"
          value="Save"
          (click)="saveTask()"
          class="btn btn-primary"
        />
        <input
          type="button"
          value="Cancel"
          (click)="cancel()"
          class="btn btn-primary"
        />
      </div>
      <br>
      <br>
    </div>
  </div>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td>Due date</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let task of tasks"
        app-task
        [task]="task"
        (onDelete)="onDelete($event)"
      ></tr>
    </tbody>
  </table>
</div>
